
/*!
Theme Name: Sistema de Sorteo Movil
Theme URI: http://itsoft.org.ve/themes/ofd-todocuba
Author: OFD Team
Author URI: https://www.facebook.com/icrasover.21
Description: Carlos Guilarte
Version: 2.0
License: GNU General public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, brown, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, flexible-width, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready
Text Domain: OFD
*/
@font-face{font-family:'BebasNeue Bold';font-style:normal;font-weight:400;src:local('assets/fonts/BebasNeueBold.otf'),local('assets/fonts/BebasNeueBold.otf'),url('assets/fonts/BebasNeueBold.otf') format('opentype');}
@font-face{font-family:'BebasNeue Book';font-style:normal;font-weight:400;src:local('assets/fonts/BebasNeueBook.otf'),local('assets/fonts/BebasNeueBook.otf'),url('assets/fonts/BebasNeueBook.otf') format('opentype');}
@font-face{font-family:'BebasNeue Light';font-style:normal;font-weight:300;src:local('assets/fonts/BebasNeueLight.otf'),local('assets/fonts/BebasNeueLight.otf'),url('assets/fonts/BebasNeueLight.otf') format('opentype');}
@font-face{font-family:'BebasNeue Regular';font-style:normal;font-weight:400;src:local('assets/fonts/BebasNeueRegular.otf'),local('assets/fonts/BebasNeueRegular.otf'),url('assets/fonts/BebasNeueRegular.otf') format('opentype');}
@font-face{font-family:'BebasNeue Thin';font-style:normal;font-weight:400;src:local('assets/fonts/BebasNeueThin.otf'),local('assets/fonts/BebasNeueThin.otf'),url('assets/fonts/BebasNeueThin.otf') format('opentype');}


@font-face{font-family:'DINOT-Black';font-style:normal;font-weight:400;src:local('assets/fonts/DINOT-Black.otf'),local('assets/fonts/DINOT-Black.otf'),url('../fonts/DINOT-Black.otf') format('opentype');}
@font-face{font-family:'DINOT-Bold';font-style:normal;font-weight:100;src:local('assets/fonts/DINOT-Bold.otf'),local('assets/fonts/DINOT-Bold.otf'), url('assets/fonts/DINOT-Bold.otf') format('opentype');}
@font-face{font-family:'DINOT-Light';font-style:normal;font-weight:100;src:local('assets/fonts/DINOT-Light.otf'),local('assets/fonts/DINOT-Light.otf'), url('assets/fonts/DINOT-Light.otf') format('opentype');}
@font-face{font-family:'DINOT-Medium';font-style:normal;font-weight:100;src:local('assets/fonts/DINOT-Medium.otf'),local('assets/fonts/DINOT-Medium.otf'), url('assets/fonts/DINOT-Medium.otf') format('opentype');}
@font-face{font-family:'DINOT-Regular';font-style:normal;font-weight:100;src:local('assets/fonts/DINOT-Regular.otf'),local('assets/fonts/DINOT-Regular.otf'), url('assets/fonts/DINOT-Regular.otf') format('opentype');}


body{
	font-family: 'BebasNeue Regular';
	overflow-x:hidden !important;
	text-rendering: optimizeLegibility;
}

.device{
	max-width: 480px;
	margin: auto;
	overflow: hidden;
}

.header{
    height: 490px;
    background: url(assets/img/header.svg);
    background-repeat: no-repeat;
    background-size: 100%;
		overflow: hidden;
		display: block;
		position: relative;
}


.header .popup{
  position: absolute;
	bottom:0%;
	right: 6%;
	width: 123px;
	height: 104px;
  background: url(assets/img/mas.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
}

.contenedor-formulario{
		position: absolute;
    top: 11%;
    width: 95%;
    overflow: hidden;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.contenedor-formulario .f-titulo,.contenedor-formulario .f-subtitulo{
	font-family: 'DINOT-Bold';
	text-align: center;
	color:#fff;
}

.contenedor-formulario .f-titulo{
	font-size: 1.8em;
	padding-bottom: 20px;
}
.contenedor-formulario .f-subtitulo{
	width: 70%;
	margin: auto;
	font-size: 1em;
	font-family: 'DINOT-Regular';
}

.facebook-link,.facebook-link-disabled{
	color:#fff;
	padding: 10px 40px 12px 70px;
	width: 315px;
	margin:auto;
	margin-top: 65px;
	background: url(assets/img/facebook.svg);
	background-repeat: no-repeat;
	background-position: center;
	font-size: 1.1em;
	font-family: 'DINOT-Bold';
	cursor: pointer;
}

.facebook-link-disabled{
	background: url(assets/img/s_facebook-disabled.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.contenedor-formulario .f_terminos{
	overflow: hidden;
	width: 65%;
	margin: auto;
	padding-top: 30px;
	font-family: 'DINOT-Bold';
	text-align: center;
	color:#fff;
}



/*******************
Formulario paso 2
*******************/

.formulario{
	padding-top: 20px;
}

.formulario .campo{
	position: relative;
	margin: auto;
	margin-top: 4px;
	display: block;
	width: 415px;
	height: 60px;
	border:2px solid #fff;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	outline: 0;
}

.campo button{
	outline: 0;
}

.error_datos,.error_datos_email{
		position: absolute;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 49%;
    background: #fff;
    padding: 8px;
    text-align: center;
    top: 64%;
    border: 1px solid #fff;
    left: 35%;
    font-size: 11px;
    font-family: 'DINOT-Bold';
    border-radius: 5px;
    z-index: 501;
		display: none;
}

.error_datos_email{
	top: 35%;
	left: -25%;
	width: 55%;
}

#flechaAbajo {
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 10px;
	border-bottom-width: 0px;
	border-color: #fff transparent transparent transparent;
	position: absolute;
	bottom: -10px;
}


.formulario .grupar{
	margin: auto;
	text-align: center;
}

.f-name,.f-email,.f-tel{
	width: 40px;
	height:40px;
	background-repeat: no-repeat;
	position: absolute;
	top: 10px;
	left: 9px;
}

.f-name{
	background: url(assets/img/name.svg);
}
.f-email{
	background: url(assets/img/email.svg);
}
.f-tel{
	background: url(assets/img/tel.svg);
}



.campo input{
		width: 200px;
		margin-top: 7px;
		margin-left: 48px;
		background: transparent;
		border: 0px;
		color: #fff;
		font-family: 'DINOT-Regular';

}

.campo input:focus{
	outline: 0;
}

.formulario .code-movil{
	display: inline-block;
	width: 155px;
	background: none;
	border: 2px solid #fff;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
}
.formulario .number-movil{
	display: inline-block;
	width: 260px;
	margin-left: 4px;
}

.center{
	text-align: center;
}

.boton-formulario{
	background: transparent;
	border: 0px;
	color: #F4C53D;
	margin-top: 16px;
	width: 100%;
	font-family: 'DINOT-Bold';
}

.w-100{
	width: 100% !important;
}
.w-80{
	width: 80% !important;
}
.w-70{
	width: 70% !important;
}
.mt-20{
	margin-top: 20px;
}

.mt-10{
	margin-top: 10px !important;
}

.mt-menos-10{
	margin-top: 10px !important;
}

.mt-50{
	margin-top: 50px;
}

.mt-25{
	margin-top: 25px;
}
.mt-40{
	margin-top: 40px;
}


.cuadro-megusta{
	height: 160px;
	padding-top: 15px;
	padding-bottom: 15px;
	position: relative;
}

.descubrir{
		width: 400px;
		height: 150px;
		background: url(assets/img/descubrir.svg);
		background-repeat: no-repeat;
		margin: auto;
		margin-top: 40px;
		background-position: center;
}

.ticke{
	margin: 30px auto;
	overflow: hidden;
	text-align: center;
}

.ticke .codigo {
    transform: rotate(-6deg);
    -webkit-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    -ms-transform: rotate(-6deg);
    padding-right: 10px;
		font-style: italic;
}


.ticke .codigo span{
	color:#F4C53D;
		font-size: 2em;
		display: block;
}

.ticke .codigo .code-ticke{
	font-size: 6.5em;
	font-family: 'BebasNeue Bold';
}
.ticke .codigo .info-ticke{
	margin-top: -40px;
	font-family: 'BebasNeue Light';
	letter-spacing: 2px;
}

.titulo-pie{
	margin: auto;
	color:#
}


[type="checkbox"] {
  position: absolute;
  left: -9999px;
}
[type="checkbox"] + label:after {
  content: '';
  position: absolute;
}
[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left:20px;
  cursor: pointer;
  font-size: 15px;
  color: #fff;
  transition: color .3s;
	line-height: 40px;
}
[type="checkbox"] + label:after {
  width: 40px;
  height: 40px;
  transition: all .2s;
  top: 0;
  left: 0;
}


/* OFF */
[type="checkbox"]:not(:checked) + label:after {
  background: url('assets/img/unchecked.svg') left center no-repeat;
}
/* ON */
[type="checkbox"]:checked + label {
  color: #fff;
}
[type="checkbox"]:checked + label:after {
  background: url('assets/img/checked.svg') left center no-repeat;
}



.contador{
	display: block;
	overflow: hidden;
	margin: auto;
	max-width: 480px;
}

.header_tiempo{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;
	padding-top: 20px;
	padding-left: 20px;
}

.header_tiempo .tiempo{
	text-align: center;
	width: 150px;
	height:80px;
	background: url(assets/img/contador.svg);
	background-repeat: no-repeat;
	background-size: 100%;
	padding-top: 10px;
	margin-left: -11px;

}

.tiempo .caja{
    transform: rotate(-6deg) ;
    -webkit-transform: rotate(-6deg) ;
    -moz-transform: rotate(-6deg) ;
    -o-transform: rotate(-6deg) ;
    -ms-transform: rotate(-6deg) ;
		padding-right: 14px;
		font-style: italic;
}

.caja .titulo{
  display: block;
  color: #fff;
  font-size: 3em;
  font-weight: bold;
}
.caja .descripcion{
  color: #fff;
  font-size:1.5em;
  font-family: 'BebasNeue Regular';
	margin-top: -22px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
	padding-right: 10px;
}



.contenido-formulario{
		height: 530px;
    background: url(assets/img/1x.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 100%;
    overflow: hidden;
    display: block;
    position: relative;
    margin-top: 25px;
}


.razon_sorteo{
		width: 344px;
		height: 245px;
    margin:40px auto;
    background: url(assets/img/sanvalentin.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.servicios{
	margin:auto;

	overflow: hidden;
	padding-top: 20px;
	max-width: 480px;
}

.espacio-servicios{
	padding-left: 55px;
	padding-right: 55px;
}

.servicio-1{
	background: url(assets/img/s_servicio_1.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.servicio-2{
	background: url(assets/img/s_servicio_2.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}
.servicio-3{
	background: url(assets/img/s_servicio_3.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.servicios .items{
	width: 100%;
	height: 415px;
}
.separador{
	width:65px;
}


.paginacion,.paginacion-1{
	padding-top: 43px;
	margin: auto;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: center;
	overflow: hidden;
	max-width: 480px;
}

.contacto .paginacion{
	padding-top: 0px;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	z-index: 1500;
	bottom: -7%;
}



.paginacion .direccion,.paginacion-1 .direccion{
	width: 76px;
	height: 56px;
	margin-left:30px;
}

.paginacion-1 .direccion{
	width: 100px;
	height: 80px;
	margin-left:30px;
}

.prev{
	background: url(assets/img/prev.svg);
	background-repeat: no-repeat;
	background-size:95%;
	cursor: pointer;
}

.next{
	background: url(assets/img/next.svg);
	background-repeat: no-repeat;
	background-size: 95%;
	cursor: pointer;
}



.footer-sorteo{
	position: relative;
	margin-top: 80px;
	padding-bottom: 30px;
}

.footer-pie{
	height: 280px;
	background:url(assets/img/footer.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-top: 35px;
}


.pie{
	margin: auto;
	max-width: 480px;
	background: url(assets/img/mapas.svg) no-repeat;
	background-size: 100%;
	background-position: 100% 35%;
}

.comentarios{
		margin:auto;
		overflow: hidden;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row wrap;
		justify-content: center;
}

.info-cliente{
	float: left;
	width: 30%;
}
.info-cliente .foto{
	float: left;
	width: 196px;
	height: 140px;
	background: url(assets/img/cliente.jpg);
	background-repeat: no-repeat;
}

.info-cliente .datos{
	line-height: 22px;
	padding-top: 40px;
	width: 50%;
	float: right;
	font-family: 'DINOT-Bold';
}

.info-cliente .datos span{
		display: block;
		font-size: 1.4em;

}
.info-cliente .datos p{
	font-size: 14px;
}


.info-comentario{
	box-sizing: border-box;
	width: 50%;
	padding: 25px 0px 20px 0px;
}


.info-comentario .comment{
	text-transform: lowercase;
	border-left: 2px solid #555;
	padding: 10px 45px 10px 45px;
	font-family: 'DINOT-Bold';
}


.contacto{
	position: relative;
}

.contacto .titulo{
	margin: auto;
	width: 344px;
	height: 125px;
	background: url(assets/img/contacto.svg);
	background-repeat: no-repeat;
	display: block;
}

.contacto .bloques{
	overflow: hidden;

}



.info-centro{
	background: url(assets/img/info_centrar_amarillo.svg);
	background-repeat: no-repeat;
	background-position: center;
	height: 360px;
	padding-top: 80px;
	color: #fff;
}

.info-alas{
	background: url(assets/img/s_info_centrar.svg);
	background-repeat: no-repeat;
	background-position: center;
	height: 360px;
	padding-top: 80px;
}

.info-contacto-centro{
	padding: 10px 50px 30px 35px;
	color: #fff;
}

.info-contacto{
	padding: 31px 60px 25px 60px;
	color: #fff;
}

.info-contacto .titulos,.info-contacto-centro .titulos{
	width: 75%;
	font-size: 1.2em;
	font-family: 'DINOT-Bold';
}

.info-contacto-centro .titulos{
	width: 75%;
}

.info-contacto .lista, .info-contacto-centro .lista{
		padding-top: 25px;
}


.info-contacto .lista span,.info-contacto-centro .lista span{
	display: block;
	padding: 8px 0px 10px 0px;
	font-family: 'DINOT-Bold';
	font-size: 1.2em;
}

.border{
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
}

.border-white{
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}



.info-pie{
	overflow: hidden;
	width: 50%;
	margin: auto;
  padding-top: 50px;
}

.info-pie .logo{
	margin: auto;
	width:200px;
	height:90px;
	background: url(assets/img/logo.svg);
	background-repeat: no-repeat;
}


.info-pie .descripcion{
	text-align: center;
	color:#fff;
	font-size: 18px;
	font-family: 'DINOT-Regular';
}

.info-pie .terminos{
	color:#fff;
	text-align: center;
	font-size: 18px;
	font-family: 'DINOT-Regular';
}

.info-pie .terminos a{
	color:#fff;
	text-decoration: none;
	outline: 0;
}


.bg-modal{
	background: #000;
	filter: alpha(opacity=90); /* internet explorer */
	-khtml-opacity: 0.9;      /* khtml, version anterior de safari */
	-moz-opacity: 0.9;       /* firefox, mozilla, netscape */
	opacity: 0.9;           /* safari, chrome, opera */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; /*internet explorer 8 - gracias Andres */
	border-radius: .6rem !important;
}

.content-info {
    background-color: transparent !important;
    outline: 0;
		margin-top: 150px;
}


.cerrar{
	width: 80px;
	height: 80px;
	background: url(assets/img/cerrar.svg);
	background-repeat: no-repeat;
	float: right;
	margin-top: -9px;
	opacity: 1;
}

.bg-modal .contenedor-modal{
	color:#fff;
	padding: 80px 40px 40px 40px;
	font-family: 'DINOT-Regular';
	font-size: 14px;
}

.bg-modal .contenedor-modal h5,.bg-modal .contenedor-modal h3{
	color:#F4C53D;
}
.bg-modal .contenedor-modal p{
	font-weight: 300;
}




/***********************
Terminos y condiciones
***********************/


.header-terminos{
	position: relative;
	height: 480px;
	background: url(assets/img/header_terminos.svg);
	background-repeat: no-repeat;
	background-size: 100%;
	position: relative;
}

.contenido-terminos{
	padding-top: 60px;
	text-align: justify;
	margin: auto;
	width: 95%;
}

.contenedor-terminos{
		max-width: 1300px;
		margin: auto;
		padding: 5px;
		overflow: hidden;
		font-family: 'DINOT-Medium';
		font-size: .8em;

}

.logo-terminos{
	margin: auto;
	width: 282px;
	height: 177px;
	background: url(assets/img/terminos.svg);
	background-repeat: no-repeat;
	margin-top: 30px;
}

.regresar-terminos{
	position: absolute;
	cursor: pointer;
	width: 120px;
	height: 90px;
	background: url(assets/img/prev.svg);
	background-repeat: no-repeat;
	line-height: 55px;
	font-family: 'DINOT-Medium';
	font-size: 1.2em;
	text-indent: 6em;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	bottom: 8%;
	background-size: cover;
}

.enlace-home{
	text-decoration: none;
	color: #000;
}
.enlace-home:hover,.enlace-home:active,.enlace-home:focus{
	outline: 0;
	color:#000;
}

.ticke .codigo .code-ticke {
    font-size: 5em;
}

.ticke {
    margin: 20px auto;
}

.ocultar{
	display: none !important;
}

.fb_iframe_widget{
	text-align: center !important;
	padding-top: 30px !important;
	width: 100% !important;
	text-align: -webkit-center;
	text-align: -moz-center;
	text-align: -o-center;
  position: absolute !important;
	margin: auto;
}

.f_terminos a{
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

.f_terminos a:hover{
	text-decoration: underline;
}

.border-error{
		border: 2px solid red !important;
}

.telefono-contacto{
		text-align: center;
    line-height: 70px;
    font-size: 2em;
    color: #000;
    font-family: 'BebasNeue Bold';
    font-style: italic;
}

.telefono-contacto a{
	color:#000;
	text-decoration: none;
}

.tel,.fax{
	text-decoration: none;
	color:#fff !important;
	cursor: pointer;
}

.regresar-terminos-fixed{
	position: fixed;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	top: 4%;
	filter: alpha(opacity=90); /* internet explorer */
	-khtml-opacity: 0.9;      /* khtml, version anterior de safari */
	-moz-opacity: 0.9;       /* firefox, mozilla, netscape */
	opacity: 0.9;           /* safari, chrome, opera */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; /*internet explorer 8 - gracias Andres */
	z-index: 1000;
}

/* smarphone iphone 6*/
@media screen and (max-width : 540px) {
	.device{max-width: 540px;}
}


/* smarphone iphone 6*/
@media screen and (max-width : 480px) {
	.device{max-width: 480px;}

	.header {
    height: 380px;
	}

	.header .popup {
    bottom: -4%;
    right: 4%;
    width: 100px;
	}

	.contador {
    max-width:480px;
	}
	.header_tiempo {
		padding-left: 12px;
	}

	.header_tiempo .tiempo {
    width: 90px;
	}
	.tiempo .caja{
		padding-right: 8px;
	}
	.caja .titulo {
    font-size: 2.2em;
	}
	.caja .descripcion {
		font-size: 0.8em;
		margin-top: -17px;
	}
	.contenido-formulario{
		padding-top: 0px;
	}

	.facebook-link {
		padding: 10px 40px 12px 70px;
		width: 315px;
    font-size: 0.9em;
	}

	[type="checkbox"] + label {
    padding-left: 25px;
    font-size: 12px;
	}
	.contenedor-formulario .f_terminos {
    width: 73%;
  }


	.contenido-formulario {
    height: 480px;
	}

	.razon_sorteo {
    width: 295px;
    margin: 30px auto;
	}

	.servicios {
	    padding-top: 20px;
	    max-width:480px;
	}
	.swiper-container{
		margin-top: -55px;
	}

	.paginacion{
    padding-top: 0px;
	}



	.footer-sorteo {
    margin-top: 60px;
	}

	.contacto .titulo {
		width: 86%;
    height: 79px;
    background-position: center;
  }



	.info-contacto {
    padding: 10px 30px 30px 40px;
		color:#fff;
	}

	.info-contacto-centro {
		padding: 10px 30px 30px 40px;
		color:#fff;
	}

	.info-contacto .titulos, .info-contacto-centro .titulos {
		width: 70%;
    font-size: 0.9em;
	}

	.info-contacto .lista span, .info-contacto-centro .lista span {
    font-size: 0.9em;
	}

	.contacto .paginacion {
    left: -14px;
    bottom: -7%;
	}

	.footer-pie {
		margin-top: 0px;
		height: 185px;
	}

	.info-pie {
    width: 45%;
}
.info-pie .logo {
	width: 160px;
	background-position: center;
}

	.info-pie .terminos {
	    font-size: 13px;
	}

	.formulario .campo {
		width: 265px;
		height: 45px;
	}

	.f-name, .f-email, .f-tel {
    width: 35px;
    height: 35px;
    top: 3px;
    left: 6px;
}
	.formulario .code-movil {
		width: 100px;
	}

	.formulario .number-movil {
		width: 160px;
	}

	.boton-formulario {
    margin-top: 5px;
	}

	.fontsize1-4{
		font-size: 1.4em !important;
	}

	.descubrir {
    width: 100%;
		height: 110px;
    margin-top: 30px;
}

.header-terminos{
	height: 375px;
}

.regresar-terminos {
    width: 95px;
    height: 70px;
}

.contenido-terminos {
    padding-top: 40px;
}

.ticke .codigo .code-ticke {
    font-size: 5em;
}

.ticke {
    margin: 20px auto;
}


.ocultar{
	display: none !important;
}

.fb_iframe_widget{
	text-align: center !important;
	padding-top: 30px !important;
	width: 100% !important;
	text-align: -webkit-center;
	text-align: -moz-center;
	text-align: -o-center;
  position: absolute !important;
	margin: auto;
}

	.border-white{
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
	}


}


@media screen and (min-width : 351px) and (max-width : 400px) {
	.header .popup {
    bottom: -6%;
    right: 0%;
    width: 100px;
	}
	.error_datos_email {
    top: 49%;
    left: -4%;
    width: 64%;
}
}

/* smarphone iphone 6*/
@media screen and (min-width : 320px) and (max-width : 350px) {

	.device{max-width: 419px;}

	.error_datos_email {
    top: 51%;
    left: -3%;
    width: 80%;
	}

	.mt-menos-10{
		margin-top:-70px !important;
	}


	.header {
    height: 320px;
	}

	.header .popup {
    bottom: -8%;
    right: 0%;
    width: 100px;
	}

	.contador {
    max-width: 320px;
	}
	.header_tiempo {
		padding-left: 15px;
	}

	.header_tiempo .tiempo {
    width:87px;
		margin-left: -12px;
	}
	.caja .titulo {
    font-size: 1.8em;
	}
	.caja .descripcion {
		font-size: 0.8em;
		margin-top: -11px;
	}
	.contenido-formulario{
		padding-top: 0px;
	}

	.facebook-link {
		padding: 10px 40px 12px 70px;
		width: 300px;
    font-size: 0.9em;
	}

	[type="checkbox"] + label {
    padding-left: 25px;
    font-size: 12px;
	}

	.contenedor-formulario .f_terminos {
    width: 82%;
  }

	.contenido-formulario {
    height: 480px;
	}

	.razon_sorteo {
    width: 295px;
    margin: 30px auto;
	}

	.servicios {
	    padding-top: 20px;
	    max-width: 320px;
	}
	.swiper-container{
		margin-top: -55px;
	}



	.footer-sorteo {
    margin-top: 60px;
	}

	.contacto .titulo {
		width: 78%;
    height: 79px;
  }

	.contacto .swiper-container{
		padding-left: 5px;
    padding-right: 5px;
	}

	.info-contacto {
    padding: 15px 50px 30px 35px;
		color:#fff;
}
	.contacto .paginacion {
    left: -14px;
    bottom: 0%;
	}

	.info-contacto .titulos, .info-contacto-centro .titulos {
		width: 80%;
		font-size: 0.8em;
	}

	.info-contacto .lista span, .info-contacto-centro .lista span {
    font-size: 0.8em;
	}


	.footer-pie {
		margin-top: 0px;
		height: 185px;
	}

	.info-pie {
    width: 50%;
}
	.info-pie .logo {
	width: 160px;
	background-position: center;
	}

	.info-pie .terminos {
	    font-size: 13px;
	}

	.formulario .campo {
		width: 265px;
		height: 45px;
	}

	.f-name, .f-email, .f-tel {
    width: 35px;
    height: 35px;
    top: 3px;
    left: 6px;
}
	.formulario .code-movil {
		width: 100px;
	}

	.formulario .number-movil {
		width: 160px;
	}

	.boton-formulario {
    margin-top: 5px;
	}

	.fontsize1-4{
		font-size: 1.4em !important;
	}

	.descubrir {
    width: 100%;
		height: 110px;
    margin-top: 30px;
	}

	.header-terminos{
		height: 320px;
	}

	.regresar-terminos {
	    width: 95px;
	    height: 70px;
	}

	.contenido-terminos {
	    padding-top: 40px;
	}

	.border-white{
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
	}



}


.blanco{
	color: #fff  !important;
}

.fb_iframe_widget{
	text-align: center !important;
	padding-top: 30px !important;
	width: 100% !important;
	text-align: -webkit-center;
	text-align: -moz-center;
	text-align: -o-center;
  position: absolute !important;
	margin: auto;
}

.mt-menos-10{
	margin-top: -10px !important;
}
